Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-const-return-type,
  readability-redundant-*,
  cppcoreguidelines-pro-type-member-init
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
